$boardwidth: 60%;

.app {
    text-align: center;
    .game {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    .buttons,
    .difficulty {
        button {
            font-size: 16px;
            padding: 20px;
        }
    }
    .buttons {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 70vh;
    .tile {
        input {
            width: 100%;
            padding: 40% 0;
            text-align: center;
            border: solid 0.8px;
            font-size: 20px;
        }
        width: $boardwidth/5.6;
        &:nth-child(19),
        &:nth-child(20),
        &:nth-child(21),
        &:nth-child(22),
        &:nth-child(23),
        &:nth-child(24),
        &:nth-child(25),
        &:nth-child(26),
        &:nth-child(27),
        &:nth-child(46),
        &:nth-child(47),
        &:nth-child(48),
        &:nth-child(49),
        &:nth-child(50),
        &:nth-child(51),
        &:nth-child(52),
        &:nth-child(53),
        &:nth-child(54) {
            input {
                border-bottom: solid 2px;
            }
        }
        &:nth-child(4),
        &:nth-child(7),
        &:nth-child(13),
        &:nth-child(16),
        &:nth-child(22),
        &:nth-child(25),
        &:nth-child(31),
        &:nth-child(34),
        &:nth-child(40),
        &:nth-child(43),
        &:nth-child(49),
        &:nth-child(52),
        &:nth-child(58),
        &:nth-child(61),
        &:nth-child(67),
        &:nth-child(70),
        &:nth-child(76),
        &:nth-child(79) {
            input {
                border-left: solid 2px;
            }
        }
    }
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

